html,
body {
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(23, 17, 51), black);
  /* background-color: black; */
}
canvas {
  position: absolute;
}
.moon {
  position: absolute;
  top: 100px;
  left: -150px;
  -webkit-filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 50px rgb(255, 255, 255));
}
audio{
  z-index: 3;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
}